header.masthead {
    text-align: center;
    background-image: url("./views/header.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 16px;
    padding-bottom: 16px;
}
  
header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}
  
header.masthead .intro-text .heading {
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header.masthead .intro-text .heading {
        font-size: 55px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
    }
} 

.menu {
    font-size: 28px;
}

a:link, a:visited, a:hover, a:active {
    color: black;
}

.icon {
    font-size: 40px;
}

.tech li {
    display: inline;
    list-style-type: none;
    padding-right: 5px;
    font-size: 2.2em;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar-nav {
    text-align: right;
}

html {
    scroll-behavior: smooth;
}

.scrolling-box {
    overflow-y: scroll;
}

.myself {
    overflow: auto;
}

.nav-link, .heading {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

#about, #projects, #contact {
    padding-top: 30px;
}

.navbar-brand, .nav-link, .title {
    font-family: 'Montserrat', sans-serif;
}